// _variables.scss
$primary-color: #e6a3d5;
$secondary-color: #164c7c;
$background-svg: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c23f5e' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23459eb0' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b66872' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23878a9d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23728e5a' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239e81b5' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%235f98bc' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23c480db' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2391b37d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23d79bd1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%232fdc7e' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f27ad0' points='943 900 1210 900 971 687'/%3E%3C/svg%3E";

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
